.center {
    display: flex;
    justify-content: center;
}

div.list-group button:hover { 
    color: #fff !important;background-color: #007bff;
}

div.list-group button:hover a.btn{
    color: #fff !important;
}

div.list-group button:hover a.btn:hover{
    color: #007bff !important;
}