<ng-template #myModal let-modal style="width: 1000px;">
    <div class="modal-header" style="background-color: #007bff;">
		<h4 class="modal-title" id="modal-basic-title" style="color: aliceblue;">Choisissez un projet à travailler</h4>
		<button style="background-color: antiquewhite;" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nom du projet</th>
                <th scope="col">Etat actuel</th>
                <th scope="col">Créateur</th>
                <th scope="col">Résponsable</th>
                <!-- <th scope="col">TDR</th> -->
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projects of allProjects | paginate:{itemsPerPage:7, currentPage:page, totalItems:totalLength}">
                    <td style="width: 100px;"><button type="button" class="btn btn-link btn-sm btn-rounded" (click)="voirProjetDetail(projects.idProjet)">
                    {{projects.nom}}
                    </button></td>
                    <td style="width: 70px;">{{projects.etat}}</td>
                    <ng-container *ngIf="projects.idCreateur?.username; else noCreateur">
                    <td class="col-3">
                        <!-- <a href="">{{projects.idCreateur.username}}</a> -->
                        <div *ngIf="projects.idCreateur?.photo">
                        <img
                            src="assets\{{projects.idCreateur.photo}}"
                            alt=""
                            style="width: 45px; height: 45px;cursor: pointer;"
                            class="rounded-circle"
                            title="{{projects.idCreateur.username}}"
                        />
                        </div>
                        <div *ngIf="!projects.idCreateur.photo">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP7NjSjKYoQFApBGgMXfrAioIDBfleCIZWyA&usqp=CAU"
                            alt=""
                            style="width: 45px; height: 45px;cursor: pointer;"
                            class="rounded-circle"
                            title="{{projects.idCreateur.username}}"
                        />
                        </div>
                    </td>
                    </ng-container>
                    <ng-template #noCreateur>
                        <td ngbDropdown class="col-3">
                            <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png"
                                alt=""
                                style="width: 45px; height: 45px;cursor: pointer;"
                                class="rounded-circle"
                                title="Ajouter user"
                            />
                        </td>
                    </ng-template>
                    <ng-container *ngIf="projects.idResponsable?.username; else noCreateure">
                        <td class="col-2">
                            <div *ngIf="projects.idResponsable?.photo">
                                <img
                                    src="assets\{{projects.idResponsable.photo}}"
                                    alt=""
                                    style="width: 45px; height: 45px;cursor: pointer;"
                                    class="rounded-circle"
                                    title="{{projects.idResponsable.username}}"
                                />
                            </div>
                            <div *ngIf="!projects.idResponsable.photo">
                                <img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP7NjSjKYoQFApBGgMXfrAioIDBfleCIZWyA&usqp=CAU"
                                    alt=""
                                    style="width: 45px; height: 45px;cursor: pointer;"
                                    class="rounded-circle"
                                    title="{{projects.idResponsable.username}}"
                                />
                            </div>
                        </td>
                    </ng-container>
                    <ng-template #noCreateure>
                        <td ngbDropdown class="col-2">
                            <img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                                title="Ajouter user"
                            />
                        </td>
                    </ng-template>
                    <td class="col-2"><button class="btn btn-primary" (click)="choixProjet(projects.idProjet)">Choisir</button></td>
                </tr>
            </tbody>
        </table>
          
        <div class="pagination align-items-end">
            <pagination-controls (pageChange)="page=$event"></pagination-controls>
        </div>
	</div>
</ng-template>

<ng-template #sprintDetail let-modal>
    <div *ngIf="sprintSelected">
        <div class="modal-header" style="background-color: #007bff;">
            <h4 class="modal-title" id="modal-basic-title" style="color: aliceblue;">Détails sprint {{sprintSelected.idSprint}}</h4>
            <button style="background-color: antiquewhite;" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <form class="mx-1 mx-md-4" (ngSubmit)="setSprint(sprintSelected)" ngNativeValidate>      
                        <div class="mb-3">
                            <label for="project-name" class="col-form-label">Nom du sprint:</label>
                            <input type="text" [(ngModel)] = "sprintSelected.nom" class="form-control" id="nom_projet" name="nom_projet" required/>
                        </div>
                        <div class="mb-3">
                            <label>Date de début:</label>
                            <input type="datetime-local" [(ngModel)] = "sprintSelected.date_debut"  class="form-control" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="mb-3">
                            <label>Date d'échéance:</label>
                            <input type="datetime-local" [(ngModel)] = "sprintSelected.date_fin" class="form-control" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="mb-3">
                            <label for="description-text" class="col-form-label">Objectif:</label>
                            <textarea class="form-control" [(ngModel)] = "sprintSelected.objectif" id="description" name="description"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-success">Démarrer sprint</button>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-danger" (click)="deleteSprint(sprintSelected)">Supprimer sprint</button>
                    </div>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    <img src="assets/scrum_logo.jpg" class="img-fluid" alt="Sample image">
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #updateBacklog let-modal>
    <div class="modal-header" style="background-color: #007bff;">
        <h4 class="modal-title" id="modal-basic-title" style="color: aliceblue;">Mis à jour de backlog</h4>
        <button style="background-color: antiquewhite;" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" *ngIf="backlogUpdate" ngbDropdown [autoClose]="false">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <form class="mx-1 mx-md-4">      
                    <div class="mb-3">
                        <label for="project-name" class="col-form-label">Nom du projet:</label>
                        <input type="text" [(ngModel)] = "backlogUpdate.nom" class="form-control" id="nom_projet" name="nom_projet"/>
                    </div>
                    <div class="mb-3">
                        <label for="description-text" class="col-form-label">Description:</label>
                        <textarea class="form-control" [(ngModel)] = "backlogUpdate.description" id="description" name="description"></textarea>
                    </div>
                    <!-- <div class="mb-3" ngbDropdown [autoClose]="false">
                        <button class="btn btn-outline-primary" ngbDropdownToggle>Responsable</button>
                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <span>Rechercher:</span>
                            <input type="text" placeholder="Search.." name="search" [(ngModel)]="nomRecherche" (input)="getResponsableFiltered()" style="width: 120px;"><br>
                            <span>Assigner à :</span>
                            <li *ngFor="let user of responsableFiltered">                               
                                <a class="dropdown-item" style="cursor: pointer" [ngClass]="{ 'active': user.isResponsable }" (click)="assignResponsable(user)" (click)="onItemClick($event)">
                                    <div *ngIf="user.photo">
                                        <label style="float: left;"><img src="assets\{{user.photo}}" style="width: 30px;height: 30px;" class="rounded-circle"></label>
                                    </div>
                                    <div *ngIf="!user.photo">
                                        <label style="float: left;"><img src="assets\imageDefault.jpg" style="width: 30px;height: 30px;" class="rounded-circle"></label>
                                    </div>
                                    &nbsp;{{user.username}}
                                </a>
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="mb-3" ngbDropdown [autoClose]="false">
                        <button class="btn btn-outline-primary" ngbDropdownToggle>Scrum master</button>
                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <span>Rechercher:</span>
                            <input type="text" placeholder="Search.." name="search" [(ngModel)]="nomRecherche" (input)="getScrumMasterFiltered()" style="width: 120px;"><br>
                            <span>Assigner à :</span>
                            <li *ngFor="let user of scrumMasterFiltered">                               
                                <a class="dropdown-item" style="cursor: pointer" [ngClass]="{ 'active': user.isResponsable }" (click)="assignScrumMaster(user)" (click)="onItemClick($event)">
                                    <div *ngIf="user.photo">
                                        <label style="float: left;"><img src="assets\{{user.photo}}" style="width: 30px;height: 30px;" class="rounded-circle"></label>
                                    </div>
                                    <div *ngIf="!user.photo">
                                        <label style="float: left;"><img src="assets\imageDefault.jpg" style="width: 30px;height: 30px;" class="rounded-circle"></label>
                                    </div>
                                    &nbsp;{{user.username}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mb-3" ngbDropdown [autoClose]="false">
                        <button class="btn btn-outline-primary" ngbDropdownToggle>Product owner</button>
                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <span>Rechercher:</span>
                            <input type="text" placeholder="Search.." name="search" [(ngModel)]="nomRecherche" (input)="getProductOwnerFiltered()" style="width: 120px;"><br>
                            <span>Assigner à :</span>
                            <li *ngFor="let user of productOwnerFiltered">                               
                                <a class="dropdown-item" style="cursor: pointer" [ngClass]="{ 'active': user.isResponsable }" (click)="assignProductOwner(user)" (click)="onItemClick($event)">
                                    <div *ngIf="user.photo">
                                        <label style="float: left;"><img src="assets\{{user.photo}}" style="width: 30px;height: 30px;" class="rounded-circle"></label>
                                    </div>
                                    <div *ngIf="!user.photo">
                                        <label style="float: left;"><img src="assets\imageDefault.jpg" style="width: 30px;height: 30px;" class="rounded-circle"></label>
                                    </div>
                                    &nbsp;{{user.username}}
                                </a>
                            </li>
                        </ul>
                    </div> -->
                    <div class="mb-3">
                        <label>Date de début:</label>
                        <input type="date" [(ngModel)] = "backlogUpdate.dateDebut"  class="form-control" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label>Date d'échéance:</label>
                        <input type="date" [(ngModel)] = "backlogUpdate.dateFin" class="form-control" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" (click)="updateBacklogSelected(backlogUpdate)" class="btn btn-outline-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #sprintStart let-modal>
    <div *ngIf="sprintSelected">
        <div class="modal-header" style="background-color: #007bff;">
            <h4 class="modal-title" id="modal-basic-title" style="color: aliceblue;">Commencer le sprint : {{sprintSelected.idSprint}}</h4>
            <button style="background-color: antiquewhite;" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <label for="">Les backlog inclus dans le sprint <b>{{sprintSelected.nom}}</b>: ({{countBacklog(sprintSelected)}} backlogs)</label>
            <div class="example-list overflow-visible" *ngFor="let backlog of sprintBacklogs">
                <div class="example-box" *ngIf="backlog.sprint.idSprint == sprintSelected.idSprint">
                    <div class="draggable" style="width: 100%;height: 100%;margin-bottom: 8px;">
                        &nbsp;
                        <div style="float: left;margin-left: 5px; display: flex; align-items: center; justify-content: center;" (click)="openBacklogModal(BacklogDetail,backlog.id)">
                            {{backlog.backlog.nom}}&nbsp;<span style="color: white;font-weight: bold" [style.backgroundColor]="backlog.sprint.couleur" *ngIf="backlog.sprint">
                                {{backlog.sprint.nom}}&nbsp;</span>
                        </div>
                        <div style="float: right;margin-right: 5px;margin-bottom: 28px; display: flex; align-items: center; justify-content: center;">
                            <button class="btn btn-success" *ngIf="backlog.backlog.etat == 'Terminé'" style="height: 15px; padding: 0.5rem 0.5rem;"></button>
                            <button class="btn btn-primary" *ngIf="backlog.backlog.etat == 'Valable'" style="height: 15px; padding: 0.5rem 0.5rem;"></button>
                            <button class="btn btn-secondary" *ngIf="backlog.backlog.etat == 'en attente'" style="height: 15px; padding: 0.5rem 0.5rem;"></button>
                            &nbsp;&nbsp;&nbsp;
                            <ng-container *ngFor="let responsable of scrumMastersBacklog">
                                <div style="float: right" *ngIf="responsable.backlog.id == backlog.backlog.id">
                                    <a *ngIf="responsable.idScrumMaster && responsable.idScrumMaster.photo" role="button" aria-expanded="false" class="nav-link d-sm-flex align-items-sm-center">
                                        <img
                                            src="assets/{{responsable.idScrumMaster.photo}}"
                                            alt=""
                                            class="rounded-circle" style="width: 35px;height: 35px;cursor: pointer;"
                                            title="test"
                                        />
                                    </a>
                                    <a *ngIf="responsable.idScrumMaster && !responsable.idScrumMaster.photo" role="button" aria-expanded="false" class="nav-link d-sm-flex align-items-sm-center">
                                        <img
                                            src="assets/imageDefault.jpg"
                                            alt=""
                                            class="rounded-circle" style="width: 35px;height: 35px;cursor: pointer;"
                                            title="test"
                                        />
                                    </a>
                                </div>
                            </ng-container>
                        </div>                                              
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary float-end" *ngIf="sprintSelected.etat == 'en attente'" (click)="startSprint(sprintSelected)">Démarrer sprint</button>
            <button class="btn btn-success float-end" *ngIf="sprintSelected.etat == 'en progrès'" (click)="finishSprint(sprintSelected)">Terminer sprint</button>
            <button class="btn btn-success float-end" *ngIf="sprintSelected.etat == 'Terminé'" (click)="startSprint(sprintSelected)">Rouvrir sprint</button>
        </div>
    </div>
</ng-template>

<ng-template #BacklogDetail let-modal style="width: 1000px;">
    <div class="modal-header" style="background-color: #007bff;">
		<h4 class="modal-title" id="modal-basic-title" style="color: aliceblue;">Détails backlog</h4>
		<button style="background-color: antiquewhite;" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
    <div class="modal-body" *ngIf="backlogSelected">
        <div class="body">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-8" style="max-height: 661px; overflow: auto;" ngbDropdown>
                        <h4>{{backlogSelected.nom}}</h4>
                        <strong style="cursor: pointer">Description:</strong>
                        <p>{{backlogSelected.description}}</p>
                        <div class="js-upload-finished">
                            <div class="col">
                                <div  id="collapseExample"  style="position: static;">
                                    <strong>Commentaire</strong>
                                    <div class="col-md-12 h-100 p-2 bg-light border rounded-3">
                                        <div id="collapseExample" style="position: static;">
                                            <textarea style="width: 100%;" [(ngModel)]="newCommentaireBacklog.commentaire"></textarea>
                                            <a class="list-group-item list-group-item-info" style="cursor: pointer;" *ngIf="fileNameBacklog">
                                                {{fileNameBacklog}} (ajouter un commentaire et/ou clickez sur <b>commenter</b> pour uploader le fichier.)</a>
                                            <button type="button" class="btn btn-outline-primary border-0 btn-sm" 
                                                style="float: right;" (click)="fileInput.click()">Upload fichier
                                            </button>
                                            <form class="mx-1 mx-md-4" (ngSubmit)="commentaireWithFileBacklog(myGroup)" ngNativeValidate>          
                                                <div [formGroup]="myGroup" enctype="multipart/form-data">
                                                    <input type="file" #fileInput style="display: none" (change)="uploadFileCommentBacklog($event,myGroup)">
                                                    <button *ngIf="fileNameBacklog && newCommentaireBacklog.commentaire" style="float: right;" class="btn btn-success border-0 btn-sm">Commenter</button>
                                                    <button *ngIf="fileNameBacklog && !newCommentaireBacklog.commentaire" style="float: right;" class="btn btn-success border-0 btn-sm" disabled>Commenter</button>
                                                </div>
                                            </form>
                                            &nbsp;
                                            <button *ngIf="!fileNameBacklog && newCommentaireBacklog.commentaire" type="button" (click)="commenterBacklog(backlogSelected)" class="btn btn-primary border-0 btn-sm" style="float: right;">Commenter</button>
                                            <button *ngIf="!fileNameBacklog && !newCommentaireBacklog.commentaire" type="button" class="btn btn-primary border-0 btn-sm" style="float: right;" disabled>Commenter</button>
                                            <div class="list-group list-group-light" style="width: 100%;" *ngIf="commentairesBacklog">
                                                <div class="list-group-item list-group-item-action" style="height: auto" *ngFor="let com of commentairesBacklog">
                                                    <div *ngIf="com.createur.photo">
                                                        <img
                                                            src="assets/{{com.createur.photo}}"
                                                            alt=""
                                                            style="width: 45px; height: 45px"
                                                            class="rounded-circle"
                                                        />&nbsp;
                                                    </div>
                                                    <div *ngIf="!com.createur.photo">
                                                        <img
                                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP7NjSjKYoQFApBGgMXfrAioIDBfleCIZWyA&usqp=CAU"
                                                            alt=""
                                                            style="width: 45px; height: 45px"
                                                            class="rounded-circle"
                                                        />&nbsp;
                                                    </div>
                                                    <div style="position: relative;">
                                                        <b style="position: absolute; top: -50px;left: 50px;">{{com.createur.username}}</b>
                                                        &nbsp;<i style="position: absolute; top: -25px;left: 50px;">{{com.temp}}</i><br><br>
                                                    </div>
                                                    <div *ngIf="com.file == true">
                                                        <p style="position: relative; top: -30px;"> 
                                                            <ng-container *ngIf="com.commentaire">{{com.commentaire}} <br></ng-container>
                                                            -> <button *ngIf="getCommentaireFile(com)" class="btn btn-link" (click)="onDownloadFileCommentaire(com)">{{getCommentaireFile(com)}}</button>
                                                        </p>
                                                        <!-- <p style="position: relative; top: -30px;"></p> -->
                                                        <p style="position: relative;"><button type="button" class="btn btn-link" (click)="deleteCommentaireBacklog(com.idCommentaire,backlogSelected)">Supprimer</button></p>
                                                    </div>
                                                    <div *ngIf="com.file == false">
                                                        <p style="position: relative; top: -35px;" *ngIf="com.updating == false">{{com.commentaire}}</p>
                                                        <div *ngIf="com.updating == true">
                                                            <textarea name="" id="" cols="60" rows="5" [(ngModel)]="com.commentaire"></textarea>
                                                        </div>
                                                        <p>
                                                            <button type="button" class="btn btn-link" (click)="updateCommentaireBacklog(com.idCommentaire,com,backlogSelected)">Modifier</button>
                                                            &nbsp;
                                                            <button type="button" class="btn btn-link" (click)="deleteCommentaireBacklog(com.idCommentaire,backlogSelected)">Supprimer</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-inline-block">
                            <button type="button" class="btn btn-success" id="dropdown1" *ngIf="backlogSelected.etat == 'Terminé'">
                                {{backlogSelected.etat}}
                            </button>
                            <button (click)="basicCollapses.toggle()" type="button" class="btn btn-secondary" id="dropdown1" *ngIf="backlogSelected.etat == 'en attente'">
                                {{backlogSelected.etat}}
                            </button>
                            <button type="button" class="btn btn-danger" id="dropdown1" *ngIf="backlogSelected.etat == 'Pas valable'">
                                {{backlogSelected.etat}}
                            </button>
                            <button type="button" class="btn btn-primary" id="dropdown1" *ngIf="backlogSelected.etat == 'Valable'">
                                {{backlogSelected.etat}}
                            </button>
                            <div id="collapseExample" mdbCollapse #basicCollapses="mdbCollapse" style="position: static;">
                                <div aria-labelledby="dropdown1" *ngIf="backlogSelected.etat == 'en attente'">
                                    <button type="button" (click)="setBacklogToPasValable(backlogSelected)" class="btn btn-outline-danger" id="dropdown1" >
                                        Pas valable
                                    </button><br>
                                    <button type="button" (click)="setBacklogToValable(backlogSelected)" class="btn btn-outline-primary" id="dropdown1" >
                                        Valable
                                    </button><br>
                                    <button type="button" (click)="setBacklogToTermine(backlogSelected)" class="btn btn-outline-success" id="dropdown1" >
                                        Terminé
                                    </button>
                                </div>
                            </div>
                        </div><br><br>
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                      <th scope="col"><b>Détails</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Priorité</th>
                                        <td>                                       
                                            {{backlogSelected.priorite}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Story point</th>
                                        <td>                                       
                                            {{backlogSelected.storyPoint}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Créateur</th>
                                        <td>
                                            <img *ngIf="backlogSelected.idCreateur.photo" src="assets/{{backlogSelected.idCreateur.photo}}" 
                                            style="width: 45px; height: 45px" class="rounded-circle" title="{{backlogSelected.idCreateur.username}}">
                                            <img *ngIf="!backlogSelected.idCreateur.photo" src="assets/imageDefault.jpg" 
                                            style="width: 45px; height: 45px" class="rounded-circle" title="{{backlogSelected.idCreateur.username}}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Responsable(s)</th>
                                        <td ngbDropdown>
                                            <ng-container *ngFor="let responsable of responsableBacklogSelected">
                                                <img *ngIf="responsable.idResponsable && responsable.idResponsable.photo" src="assets/{{responsable.idResponsable.photo}}" 
                                                style="width: 45px; height: 45px" class="rounded-circle" title="{{responsable.idResponsable.username}}">
                                                <img *ngIf="responsable.idResponsable && !responsable.idResponsable.photo" src="assets/imageDefault.jpg"
                                                style="width: 45px; height: 45px" class="rounded-circle" title="{{responsable.idResponsable.username}}">
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Scrum master(s)</th>
                                        <td ngbDropdown>
                                            <ng-container *ngFor="let scrumMaster of scrumMastersBacklogSelected">
                                                <img *ngIf="scrumMaster.idScrumMaster && scrumMaster.idScrumMaster.photo" src="assets/{{scrumMaster.idScrumMaster.photo}}" 
                                                style="width: 45px; height: 45px" class="rounded-circle" title="{{scrumMaster.idScrumMaster.username}}">
                                                <img *ngIf="scrumMaster.idScrumMaster && !scrumMaster.idScrumMaster.photo" src="assets/imageDefault.jpg"
                                                style="width: 45px; height: 45px" class="rounded-circle" title="{{scrumMaster.idScrumMaster.username}}">
                                            </ng-container>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <th scope="row">Développeur(s)</th>
                                        <td ngbDropdown>
                                            <ng-container *ngFor="let developpeur of developersBacklogSelected">
                                                <img *ngIf="developpeur.idDevellopers && developpeur.idDevellopers.photo" src="assets/{{developpeur.idDevellopers.photo}}" 
                                                style="width: 45px; height: 45px" class="rounded-circle" title="{{developpeur.idDevellopers.username}}">
                                                <img *ngIf="developpeur.idDevellopers && !developpeur.idDevellopers.photo" src="assets/imageDefault.jpg"
                                                style="width: 45px; height: 45px" class="rounded-circle" title="{{developpeur.idDevellopers.username}}">
                                            </ng-container>
                                            <img *ngIf="isScrumMasterBacklog(backlogSelected) || isProductOwner() || isAdmin()" src="assets/addUser.png" style="width: 45px; height: 45px;cursor: pointer" class="rounded-circle" title="ajouter responsable" ngbDropdownToggle>
                                            <ul *ngIf="isScrumMasterBacklog(backlogSelected) || isProductOwner() || isAdmin()" ngbDropdownMenu style="width: 250px;" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                                <span>Rechercher:</span>
                                                <input type="text" placeholder="Search.." name="search" [(ngModel)]="nomRecherche" (input)="getBacklogDevellopersFiltered()" style="width: 120px;"><br>
                                                <span>Assigner à :</span>
                                                <li *ngFor="let user of developersBacklogFiltered">                               
                                                    <a class="dropdown-item" style="cursor: pointer" [ngClass]="{ 'active': user.isDevelopper }" (click)="assignBacklogDevellopers(user)" (click)="onItemClick($event)">
                                                        <div *ngIf="user.photo">
                                                            <label style="float: left;"><img src="assets\{{user.photo}}" style="width: 30px;height: 30px;" class="rounded-circle"></label>
                                                        </div>
                                                        <div *ngIf="!user.photo">
                                                            <label style="float: left;"><img src="assets\imageDefault.jpg" style="width: 30px;height: 30px;" class="rounded-circle"></label>
                                                        </div>
                                                        &nbsp;{{user.username}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr> -->
                                    <tr>
                                        <th scope="row">Date de début</th>
                                        <td *ngIf="backlogSelected.dateDebut"><i>{{backlogSelected.dateDebut}}</i></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Date d'échéance</th>
                                        <td *ngIf="backlogSelected.dateFin"><i>{{backlogSelected.dateFin}}</i></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Terminé le</th>
                                        <td *ngIf="backlogSelected.termine"><i>{{backlogSelected.termine}}</i></td>
                                        <td *ngIf="!backlogSelected.termine"></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger float-end" (click)="deleteBacklog(backlogSelected)">Supprimer</button>
    </div>
</ng-template>

<p *ngIf="!idProjet" (click)="open(myModal)">Aucun projet choisi</p>
<div *ngIf="idProjet && projetInWork">
    <button class="btn btn-outline-primary" (click)="open(myModal)">Changer de projet</button>
    <h3>Récapitulatif des sprints</h3>
    <h5>{{projetInWork.nom}}</h5> 
    <div class="col-lg-12">
        <div class="row" cdkDropListGroup>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row overflow-visible" style="max-height: 600px; overflow: auto;">
                    <div class="col-md-12" *ngFor="let sprint of sprintsProjet">
                        <div class="card mb-4 mb-md-0">
                            <div class="example-list overflow-visible" style="width: 100%;">
                                <div style="margin: 12px;">
                                    <div (click)="basicCollapses.toggle()" style="float: left;cursor: pointer;"><b>{{sprint.nom}}</b>&nbsp;({{countBacklog(sprint)}} backlogs)</div>
                                    <div style="float: right;">
                                        <button class="btn btn-sm btn-outline-primary" (click)="openSprintModal(sprintDetail,sprint.idSprint)" style="float: right;margin-bottom: 12px"><i class="bi bi-pencil-square"></i></button>
                                        <button class="btn btn-sm btn-outline-success" (click)="openSprintModal(sprintStart,sprint.idSprint)" style="float: right;margin-bottom: 12px;margin-right: 5px;" *ngIf="isSprintEmpty(sprint) && sprint.etat == 'Terminé'">Sprint teminé</button>
                                        <button class="btn btn-sm btn-primary" (click)="openSprintModal(sprintDetail,sprint.idSprint)" style="float: right;margin-bottom: 12px;margin-right: 5px;" *ngIf="isSprintEmpty(sprint) && sprint.etat == 'en attente'">Démarrer sprint</button>
                                        <button class="btn btn-sm btn-success" (click)="openSprintModal(sprintStart,sprint.idSprint)" style="float: right;margin-bottom: 12px;margin-right: 5px;" *ngIf="isSprintEmpty(sprint) && sprint.etat == 'en progrès'">Terminer sprint</button>
                                        <button class="btn btn-sm btn-primary" style="float: right;margin-bottom: 12px;margin-right: 5px;" *ngIf="!isSprintEmpty(sprint)" disabled>Démarrer sprint</button>
                                    </div>                           
                                </div>
                                <div id="collapseExample" mdbCollapse #basicCollapses="mdbCollapse" style="position: static;">                               
                                    <div style="height: 100%;margin-left: 10px;margin-top: 60px;width: 98%">
                                        <div cdkDropList (cdkDropListDropped)="onDropBacklog($event,sprint.idSprint)" class="card example-list">
                                            <div cdkDrag [cdkDragData]="backlog" *ngFor="let backlog of sprintBacklogs">
                                                <div class="draggable" style="width: 100%;height: 100%;background-color: #c9c9da71;;cursor: pointer" *ngIf="backlog.sprint && backlog.sprint.idSprint == sprint.idSprint">
                                                    &nbsp;
                                                    <div style="float: left;margin-left: 5px; display: flex; align-items: center; justify-content: center;" (click)="openBacklogModal(BacklogDetail,backlog.backlog.id)">{{backlog.backlog.nom}}</div>
                                                    <div style="float: right;margin-right: 5px; display: flex; align-items: center; justify-content: center;" ngbDropdown>
                                                        <button class="btn btn-success" *ngIf="backlog.backlog.etat == 'Terminé'" style="height: 15px; padding: 0.5rem 0.5rem;margin-bottom: 10px;"></button>
                                                        <button class="btn btn-danger" *ngIf="backlog.backlog.etat == 'Pas valable'" style="height: 15px; padding: 0.5rem 0.5rem;margin-bottom: 10px;" ngbDropdownToggle></button>
                                                        <button class="btn btn-secondary" *ngIf="backlog.backlog.etat == 'en attente'" style="height: 15px; padding: 0.5rem 0.5rem;margin-bottom: 10px;" ngbDropdownToggle></button>
                                                        <button class="btn btn-primary" *ngIf="backlog.backlog.etat == 'Valable'" style="height: 15px; padding: 0.5rem 0.5rem;margin-bottom: 10px;" ngbDropdownToggle></button>
                                                        <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" >
                                                            <div *ngIf="backlog.backlog.etat == 'Pas valable'">
                                                                <!-- <li><button (click)="setBacklogToTermine(backlog)" class="btn btn-outline-success btn-sm" style="width: 100%;">Terminé</button></li> -->
                                                                <li><button (click)="setBacklogToValable(backlog.backlog)" class="btn btn-outline-primary btn-sm" style="width: 100%;">Valable</button></li>
                                                                <!-- <li><button (click)="setBacklogToEnAttente(backlog)" class="btn btn-outline-secondary btn-sm" style="width: 100%;">En attente</button></li> -->
                                                            </div>
                                                            <div *ngIf="backlog.backlog.etat == 'Valable'">
                                                                <li><button (click)="setBacklogToTermine(backlog.backlog)" class="btn btn-outline-success btn-sm" style="width: 100%;">Terminé</button></li>
                                                                <li><button (click)="setBacklogToPasValable(backlog.backlog)" class="btn btn-outline-danger btn-sm" style="width: 100%;">Pas valable</button></li>
                                                                <!-- <li><button (click)="setBacklogToEnAttente(backlog)" class="btn btn-outline-secondary btn-sm" style="width: 100%;">En attente</button></li> -->
                                                            </div>
                                                            <div *ngIf="backlog.backlog.etat == 'en attente'">
                                                                <!-- <li><button (click)="setBacklogToTermine(backlog)" class="btn btn-outline-success btn-sm" style="width: 100%;">Terminé</button></li> -->
                                                                <li><button (click)="setBacklogToValable(backlog.backlog)" class="btn btn-outline-primary btn-sm" style="width: 100%;">Valable</button></li>
                                                                <li><button (click)="setBacklogToPasValable(backlog.backlog)" class="btn btn-outline-danger btn-sm" style="width: 100%;">Pas valable</button></li>
                                                            </div>
                                                            <div *ngIf="backlog.backlog.etat == 'Terminé'">
                                                                <!-- <li><button (click)="setBacklogToEnAttente(backlog)" class="btn btn-outline-secondary btn-sm" style="width: 100%;">En attente</button></li>
                                                                <li><button (click)="setBacklogToValable(backlog)" class="btn btn-outline-primary btn-sm" style="width: 100%;">Valable</button></li>
                                                                <li><button (click)="setBacklogToPasValable(backlog)" class="btn btn-outline-danger btn-sm" style="width: 100%;">Pas valable</button></li> -->
                                                            </div>
                                                        </ul>
                                                        &nbsp;&nbsp;&nbsp;
                                                        <!-- <ng-container *ngFor="let responsable of scrumMastersBacklog">
                                                            <div style="float: right;" *ngIf="responsable.backlog.id == backlog.backlog.id;">
                                                                <a *ngIf="responsable.idScrumMaster && responsable.idScrumMaster.photo" role="button" aria-expanded="false" class="nav-link d-sm-flex align-items-sm-center">
                                                                    <img
                                                                        src="assets/{{responsable.idScrumMaster.photo}}"
                                                                        alt=""
                                                                        class="rounded-circle" style="width: 35px;height: 35px;cursor: pointer;"
                                                                        title="{{responsable.idScrumMaster.username}}"
                                                                    />
                                                                </a>
                                                                <a *ngIf="responsable.idScrumMaster && !responsable.idScrumMaster.photo" role="button" aria-expanded="false" class="nav-link d-sm-flex align-items-sm-center">
                                                                    <img
                                                                        src="assets/imageDefault.jpg"
                                                                        alt=""
                                                                        class="rounded-circle" style="width: 35px;height: 35px;cursor: pointer;"
                                                                        title="{{responsable.idScrumMaster.username}}"
                                                                    />
                                                                </a>
                                                            </div>
                                                        </ng-container> -->
                                                        <!-- <td ngbDropdown class="col-3" style="width: 50px">
                                                            <a role="button" (click)="getResponsable(backlog.backlog)" ngbDropdownToggle aria-expanded="false" class="nav-link d-sm-flex align-items-sm-center">
                                                                <img
                                                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png"
                                                                    alt=""
                                                                    class="rounded-circle" style="width: 35px;height: 35px;cursor: pointer;"
                                                                    title="Ajouter user"
                                                                />
                                                            </a>
                                                            <ul
                                                                ngbDropdownMenu
                                                                class="dropdown-menu dropdown-menu-end"
                                                                aria-labelledby="navbarDropdownMenuLink"
                                                                style="width: 220px"
                                                            >
                                                                <li>
                                                                    <span>Rechercher:</span>
                                                                    <input type="text" placeholder="Search.." name="search" [(ngModel)]="nomRecherche" (input)="getScrumMastersFiltered()" style="width: 120px;"><br>
                                                                    <span>Assigner à :</span>
                                                                    <div *ngFor="let user of scrumMastersBacklogFiltered">                               
                                                                        <a class="dropdown-item" style="cursor: pointer" [ngClass]="{ 'active': user.isScrumMaster }" (click)="assignScrumMasterB(user, backlog.backlog)" (click)="onItemClick($event)">
                                                                            <div *ngIf="user.photo">
                                                                                <label style="float: left;"><img src="assets\{{user.photo}}" style="width: 30px;height: 30px;" class="rounded-circle"></label>
                                                                            </div>
                                                                            <div *ngIf="!user.photo">
                                                                                <label style="float: left;"><img src="assets\imageDefault.jpg" style="width: 30px;height: 30px;" class="rounded-circle"></label>
                                                                            </div>
                                                                            &nbsp;{{user.username}}
                                                                        </a>
                                                                    </div>                
                                                                </li>
                                                            </ul>
                                                        </td> -->
                                                    </div>                                              
                                                </div>
                                            </div>
                                        </div>                                     
                                    </div>
                                </div>
                                <!-- <button class="btn btn-link" style="width: 100%;float: left">Backlog</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
