<ng-template #content let-modal>
	<div class="modal-header" style="background-color: #007bff;">
		<h4 class="modal-title" id="modal-basic-title" style="color: aliceblue;">Nouveau utilisateur</h4>
		<button style="background-color: antiquewhite;" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="row justify-content-center">
      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

        <form class="mx-1 mx-md-4" (ngSubmit)="onSubmit(myGroup)" ngNativeValidate>
          
          <div [formGroup]="myGroup" enctype="multipart/form-data">
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="bi bi-person-fill fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <label for="file" class="label-file">Choisir une image</label>
                <input type="file" id="form3Example4cd02" class="form-control" (change)="onSelected($event)"/>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="bi bi-person-fill fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c">Username</label>
              <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">&#64;</span>
                <input type="text" class="form-control" [(ngModel)] = "userCreate.username" id="form3Example1c01" 
                  name="username" (input)="isUsernameAvailable()" style="width: 130px;" required>
                <span *ngIf="usernameAvailable == false" style="color: red;">Username déja pris</span>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="bi bi-person-fill fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c">Prénom</label>
              <input type="text" id="form3Example1c1" class="form-control" [(ngModel)] = "userCreate.firstName" name="firstName"/>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="bi bi-person-fill fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c">Nom</label>
              <input type="text" id="form3Example2c" class="form-control" [(ngModel)] = "userCreate.lastName" name="lastName"/>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="bi bi-envelope-fill fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example3c">Addresse Email</label>
              <input type="email" id="form3Example3c" class="form-control" [(ngModel)] = "userCreate.email" name="email" (input)="isEmailAvailable()" required/>
              <span *ngIf="emailAvailable == false" style="color: red;">Email déja pris</span>
              <span *ngIf="!userCreate.email" style="color: red;">Le champ email ne doit pas être null</span>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="bi bi-lock-fill fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example4c">Mot de passe</label>
              <input type="password" id="form3Example4c" class="form-control" [(ngModel)] = "userCreate.password" name="password" required/>
              <span *ngIf="userCreate.password != userCreate.pwd" style="color: red;">Mot de passe non identique</span>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="bi bi-unlock-fill fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example4cd">Confirmez votre mot de passe</label>
              <input type="password" id="form3Example4cd" class="form-control" [(ngModel)] = "userCreate.pwd" name="pwd" required/>
              <span *ngIf="userCreate.password != userCreate.pwd" style="color: red;">Mot de passe non identique</span>
            </div>
          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <ng-container *ngIf="userCreate.password != userCreate.pwd || !emailAvailable || !usernameAvailable || !userCreate.username || !userCreate.email; else ok">
              <input type="submit" class="btn btn-primary btn-lg" value="Register" disabled>
            </ng-container>
            <ng-template #ok>
              <input type="submit" class="btn btn-primary btn-lg" value="Register" (click)="modal.close('Save click')">
            </ng-template>
            <!-- <input type="submit" class="btn btn-primary btn-lg" value="Register"
              *ngIf="userCreate.password != userCreate.pwd" disabled>
            <input type="submit" class="btn btn-primary btn-lg" value="Register"
              *ngIf="userCreate.password == userCreate.pwd"  (click)="modal.close('Save click')"> -->
          </div>

        </form>

      </div>
      <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
          class="img-fluid" alt="Sample image">

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #userDetail let-modal style="background-color: #eee;">
  <div id="userProfile" style="background-color: #007bff;">
    <div class="modal-header">
      <h4 class="modal-title text-center" id="modal-basic-title" style="color: aliceblue;">Détail utilisateur</h4>
      <button type="button" style="background-color: antiquewhite;" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="background-color: #eee;">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center" >
              <ng-container *ngIf="userPhoto.nom != null; else noUserPhoto">
                <img src="assets\{{userPhoto.nom}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              </ng-container>
              <ng-template #noUserPhoto>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP7NjSjKYoQFApBGgMXfrAioIDBfleCIZWyA&usqp=CAU" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
              </ng-template>
              <h5 class="my-3">{{userProfil.username}}</h5>
              <div *ngFor="let role of userProfil.realmRoles">
                <p class="text-start">{{role}} &nbsp;<button type="button" class="btn btn-sm btn-danger" (click)="removeRoleToUser(userProfil.username,role)">
                  <i class="bi bi-trash"></i></button>
                </p>
              </div>
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-light" id="dropdown1" ngbDropdownToggle (click)="getRoleNotToUser(userProfil.id)">
                  <i class="bi bi-plus-circle-fill"></i>&nbsp;&nbsp;Attribuer rôle
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdown1">
                  <form class="px-4 py-3" (ngSubmit)="addRoleToUser(userProfil.username,roleSelected)">
                    <div class="mb-3">
                      <label for="exampleDropdownFormEmail1">Role à ajouter</label>
                      <select name="nom" id="nom" style="width: 170px;height: 35px;" [(ngModel)] = "roleSelected" name="roleSelected">
                        <option *ngFor="let role of rolesNotToUser">{{role.name}}</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                  </form>
                  <div class="dropdown-divider"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">FirstName</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{userProfil.firstName}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">LastName</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{userProfil.lastName}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{userProfil.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">030 00 000 00</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Antananarivo</p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="userProfil.username != 'user1'" class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Travaux</span> Assignés
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">CRUD module1 front</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">CRUD module1 back</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Pagination</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <!-- <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                  <div class="progress rounded mb-2" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                  <div class="progress rounded mb-2" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="exportToPDF()">Export to PDF</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="modal.close('Save click')" (click)="deleteUser(userProfil.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<H3 class="text-center">Liste des utilisateurs</H3>
<div style="float: left;">
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)"><i class="bi bi-plus-circle"></i> Nouveau utilisateur</button>
</div>

<div ngbDropdown class="d-inline-block" style="float: right;">
  <button ngbDropdownToggle type="button" class="btn btn-outline-primary" style="width: 90px;"><i class="bi bi-funnel"></i>Tri</button>
  <div ngbDropdownMenu aria-labelledby="dropdown1">
    <form class="px-4 py-3">
      <div class="mb-3">
        <label for="exampleDropdownFormEmail1">Trier par : {{tri}}</label>
        <select name="nom" id="nom" style="width: 170px;height: 35px;" [(ngModel)] = "tri" name="tri" (change)="getTri()">
          <option value="nom">Username</option>
          <option value="role">Rôle</option>
        </select>
      </div>
      <div *ngIf="tri == 'nom'">
        <label for="roleTri">Recherche par nom :</label>
        <input type="text" placeholder="Search.." name="search" [(ngModel)]="nomRecherche" (input)="getUsersByUsername()" style="width: 120px;">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
        <p>username = {{nomRecherche}}<p>
      </div>
      <div *ngIf="tri == 'role'">
        <div class="mb-3">
          <label for="roleTri">Choisissez le rôle:</label>
          <select name="nom" id="nom" style="width: 170px;height: 35px;" [(ngModel)] = "roleTri" name="roleTri" (click)="getUserWithRoleTri()">
            <option value="nule">Tous les roles</option>
            <option *ngFor="let role of roles">{{role}}</option>
          </select>
          <p>Role choisi: {{roleTri}}</p>
        </div>
      </div>
    </form>
  </div>
</div>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Nom</th>
      <th>Identifiant</th>
      <th>Roles</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | paginate:{itemsPerPage:7, currentPage:page, totalItems:totalLength}">
      <td>
        <div class="d-flex align-items-center">
          <div *ngIf="user.photo">
            <img
              src="assets\{{user.photo}}"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
          </div>
          <div *ngIf="!user.photo">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP7NjSjKYoQFApBGgMXfrAioIDBfleCIZWyA&usqp=CAU"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
          </div>
          <div class="ms-3">
            <p class="fw-bold mb-1">{{user.firstName}}</p>
            <p class="text-muted mb-0">{{user.lastName}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-bold mb-1">{{user.username}}</p>
        <p class="text-muted mb-0">{{user.email}}</p>
      </td>
      <td>
          <p>{{user.realmRoles}}</p>
      </td>
      <td>
        <button (click)="getUserId(user.id,userDetail)" (click)="getUserPhoto(user.id)" class="btn btn-primary">Voir</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination align-items-end">
  <pagination-controls (pageChange)="page=$event"></pagination-controls>
</div>